account_key: $SCOUT_ACCOUNT_KEY
hostname: $HOSTNAME
display_name: $SCOUT_DISPLAY_NAME
log_file: $SCOUT_LOG_FILE
ruby_path: $SCOUT_RUBY_PATH
environment: $SCOUT_ENVIRONMENT
roles: $SCOUT_ROLES
agent_data_file: $SCOUT_AGENT_DATA_FILE
http_proxy: $HTTP_PROXY
https_proxy: $HTTPS_PROXY
